body{
    margin-top:90px;
    margin-bottom: 90px;
    color:#6a6f8c;
    background: #1C8EF9;
    font:600 16px/18px 'Open Sans',sans-serif;


}


.login-html{
    margin:auto ;
    border-style: solid;
    border-color:#EBDEF0  ;
    border-radius:  50px 40px 50px 40px;;
    text-align: center;
    width:30%;

    position:center;
    padding:40px 40px 40px 40px;
    background:#613274
;



}




.login-form{
    min-height:345px;
    position:relative;
    perspective:1000px;
    transform-style:preserve-3d;
}
.login-form .group{
    margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
    width:100%;
    color:#fff;
    display:block;
}
.mb-3{

    padding:15px 20px;
    border-radius:45px;
    background:rgba(255,255,255,.1);
}
.button {
    border-radius: 45px ;
    color:#613274 ;
background-color:#CCD1D1
;
    text-blink: true;
}

.login-form .group .button{
    background:#1161ee;
    border-radius:45px;
}



.hr{
    height:2px;
    margin:60px 0 50px 0;
    background:rgba(255,255,255,.2);
}
.foot-lnk{
    text-align:center;
    background-color: #5d2277;
}
.p{
    text-blink: true;
    color: grey;
    text-decoration-color: #fffae8;
}
.a{
    background-image: url("../assets/img/b.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;

    min-width: 100%;
    min-height: 100%;
}