.add_post {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgb(238, 238, 238);
    background: rgb(243, 243, 243);
}

.add_post input {
    background: white;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    border: none;
    padding: 0px 10px;
    outline: none;
}

.add_post i {
    font-size: 25px;
    transform: rotate(-45deg);
    margin-left: 10px;
    cursor: pointer;
    color: var(--pcolor);
}

.textarea_post {
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: none !important;
    border-radius: 10px !important;
}